body {
    margin: 2em;
    color: white;
    background-color: #9fa8a3;
}

hr {
    width: 20%;
}

li {
    padding: 12px;
}

.new,
button {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #5adbb5;
}

.new:hover,
button:hover {
    background-color: #5dbea3;
}

div,
button {
    margin: 15px;
}

label {
    display: inline-block;
    width: 5%;
    text-align: left;
}

input {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.delete,
.cancel {
    background-color: #dd7973;
}

.delete:hover,
.cancel:hover {
    background-color: #a4504b;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#profile-name {
    margin: 15px;
}

.cancel {
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.break {
    flex-basis: 100%;
}
