 {% extends 'base.html' %}
 {% block title %}{{user.full_name}}{% endblock %}
 {% block content %}
 
 <section>

    {% if user.image_url %}
    <div>
        <img src="{{user.image_url}}" width="200px"/>
    </div>
    {% endif %}

    <div>
        <h1 id="profile-name">{{user.full_name}}</h1>
        
        <form>
            <button formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
            <button formaction="/users/{{user.id}}/delete" formmethod="POST" class="delete">Delete</button>
        </form>
    </div>
    <div class="break">
        <h2>Posts</h1>

        <ul>
            {% for post in posts %}
            <li>
                <a href="/posts/{{post.post_id}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
        
        <div><a class="new" href="/users/{{user.id}}/posts/new">Create Post</a></div>
    </div>

 </section>
 
 {% endblock %}